.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  width: 120px;
}

h3{
  text-align: center;
}

/* table{
  width:100%;
} */

.grid-container {
  font-size: small;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "dodaj-aktywa dodaj-aktywa rejestr dodaj-koszty dodaj-koszty" "przychod przychod cashflow koszty koszty" "aktywa aktywa cashflow pasywa pasywa" "aktywa aktywa opis pasywa pasywa";
}

.cashflow {
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 3px;
  grid-template-areas: "przychod-aktywny" "przychod-pasywny" "cashflow-przychod" "cashflow-koszty" "przeplyw";
  grid-area: cashflow;
}

.przychod-pasywny { grid-area: przychod-pasywny; color: green;}

.przychod-aktywny { grid-area: przychod-aktywny; }

.cashflow-przychod { grid-area: cashflow-przychod; }

.cashflow-koszty { grid-area: cashflow-koszty; color: indianred;}

.przeplyw { grid-area: przeplyw; }

.dodaj-aktywa {
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "bzines-button biznes-koszt biznes-wklad biznes-przeplyw" "dodaj-akcje akcje-kod akcje-cena akcje-ilosc" "dodaj-metale metale-ilosc metale-koszt .";
  grid-area: dodaj-aktywa;
}

.bzines-button { grid-area: bzines-button; }

.biznes-koszt { grid-area: biznes-koszt; }

.biznes-wklad { grid-area: biznes-wklad; }

.biznes-przeplyw { grid-area: biznes-przeplyw; }

.dodaj-akcje { grid-area: dodaj-akcje; }

.akcje-kod { grid-area: akcje-kod; }

.akcje-cena { grid-area: akcje-cena; }

.akcje-ilosc { grid-area: akcje-ilosc; }

.dodaj-metale { grid-area: dodaj-metale; }

.metale-koszt { grid-area: metale-koszt; }

.metale-ilosc { grid-area: metale-ilosc; }

.dodaj-koszty {
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "dodaj-kredyt kredyt-wartosc" "dodaj-dziecko dodaj-dziecko" "dodaj-zwolnienie dodaj-zwolnienie";
  grid-area: dodaj-koszty;
}

.dodaj-kredyt { grid-area: dodaj-kredyt; }

.kredyt-wartosc { grid-area: kredyt-wartosc; }

.dodaj-dziecko { grid-area: dodaj-dziecko; }

.dodaj-zwolnienie { grid-area: dodaj-zwolnienie; }

.rejestr {
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "wyplata wyplata" "dodaj-wydatki wydatek-wartosc" "dodaj-przychod przychod-wartosc";
  grid-area: rejestr;
}

.wyplata { grid-area: wyplata; }

.dodaj-wydatki { grid-area: dodaj-wydatki; }

.dodaj-przychod { grid-area: dodaj-przychod; }

.wydatek-wartosc { grid-area: wydatek-wartosc; }

.przychod-wartosc { grid-area: przychod-wartosc; }

.koszty { border: 1px solid;grid-area: koszty; }

.opis { border: 1px solid;grid-area: opis; }

.aktywa { border: 1px solid;grid-area: aktywa; }

.pasywa {border: 1px solid; grid-area: pasywa; }

.przychod { border: 1px solid;grid-area: przychod; }